<a href="https://colab.research.google.com/github/irenechau31/Ass02_Craps/blob/master/Python_IntroData_Basics%20II_Loopings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Str(): String, text
#Float(): real number
#Int(): interger
#Bool(): T/F

In [ ]:
#Datetime module

In [4]:
from datetime import datetime, date, time

In [6]:
birth=datetime(2001,1,3,7,30,20)

In [7]:
birth.hour

7

Changing String to Datetime using strptime(' ', ' ')

In [8]:
datetime.strptime('20000101', '%Y%m%d')

datetime.datetime(2000, 1, 1, 0, 0)

IF, ELIF, ELSE - remember ":"

In [9]:
if x<0:
  print('negative')
elif x==0:
  print('zero')
elif 0<x<1:
  print('small positive')
else:
  print('large positive')

NameError: ignored

FOR LOOPS

In [10]:
list=[1,-2,33,-255,71]

In [11]:
total=0

In [12]:
for value in list:
  if value<=0:
    continue
  total+=value

In [13]:
print(total)

105

Similar to FOR loops, using Iterator ans iterables iter()

In [14]:
mystr = "blue"
myit = iter(mystr)

print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))

b
l
u
e

In [ ]:
#Create a sequence starting 0 t0 200

In [16]:
print(next(iter(range(200))))

0

In [21]:
mystr ="blue"
for i in mystr:
  print(i)

b
l
u
e

In [17]:
myiter=iter(range(4))

In [20]:
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))

StopIteration: ignored

In [ ]:
#starting from 0 => the last print line does not work

Assignment Python Basics II


Define the following string:
x = '1,2,3,4,5,6'
and using a for-loop, if statement and continue command, add all the individual numbers in the string and store the result in 'sum' variable.
The final result should look like this:
print(sum)
21.0
or
print(sum)
21

In [53]:
x = '1,2,3,4,5,6'

In [54]:
total =0

In [55]:
for i in x:
  if i ==',':
    continue #skip ','
  total+=int(i)# convert value to int
print(total)

21